{{template "base" .}}

{{define "content"}}
<div>
  <h1>ABOUT PAGE</h1>
  <p>test</p>
  <p>This came from the template: {{index .StringMap "test"}}</p>
  <p>
    {{if ne (index .StringMap "remote_ip") ""}}
    Your Remote IP address is{{index .StringMap "remote_ip"}}
    {{else}}
    I don't know your ip address
    {{ end }}
  </p>
</div>

{{ end }}
